@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,700&display=swap');

@import 'normalize';
@import 'mixins';
@import 'slick';

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	padding:20px;
	font-family: 'Poppins', sans-serif;
	color: #000;
	max-height: 100%;
	height: 100vh;
	text-transform: uppercase;
}

.flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.subtitle{
	margin: 0 auto;
	width: 900px;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
}
.title{
	margin: 0 auto;
	max-width: 700px;
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
	&:before {
		display: inline-block;
		position: absolute;
		left:320px;
		top: 120px;
		content:'';
		background-image: url('../img/triangle.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 25px;
		height: 25px;
	}
	&:after {
		display: inline-block;
		position: absolute;
		left:900px;
		top:10px;
		content:'';
		background-image: url('../img/cross.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 25px;
		height: 25px;
	}
}

.container{
	height: 300px;
	margin: 0 auto;	
	background-color: #fff;
	position: relative;	
	&__substrate{
		position: absolute;	
		left: 0;	
		right: 0;	
		top: 0;	
		width: calc(100% - 40px);	
		height: 100%;	
		background-color: rgba(26, 221, 164, .9);
		padding: 20px;
		display: flex;	
		flex-direction: column;
		justify-content: flex-end;			
		opacity:0;
		h2{
			color:white;
			font-size: 	2rem;
			font-weight: 	200;
			text-transform: uppercase;	
		}
		p{
			color:white;
			font-size: 	1rem;
			font-weight: 	100;
			text-transform: uppercase;	
		}
		&:hover,
		&:focus,
		&:active{
		opacity: .8;
		}
	}
}

img{	
	height: 300px;
}
.slider{
	position: relative;
	&__arrow{
		position: absolute;
		top: calc(50% - 50px);
		width: 70px;
		height: 70px;
		border:1px solid black ;
		font-size: 6.6rem;
		font-weight: 100;
		background-color: transparent;
		border-radius:50%;
		outline:none;
		&--next{
	 		right: 0;
	 		
	 	}
	 	&--prev{
	 		left: 0;
	 		transform:rotate(180deg);
	 		z-index:1;
	 	}
	}
}
.slide{
	margin: 20px;
}


	